@import "tailwindcss";

@theme {
  --color-primary: #0EA5E9; /* Azul quirúrgico/dental */
  --color-primary-hover: #0284C7;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text-main: #0F172A;
  --color-text-muted: #64748B;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }
}
